Options -Indexes +Includes +FollowSymLinks

# Rewrite Rules for robots.txt and sitemap.xml. Note NC so any case.
RewriteEngine on
RewriteRule ^robots\.txt$ robots.php [L,NC]
RewriteRule ^Sitemap\.xml$ sitemap.php [L,NC]
RewriteRule ^csstest-(.*)\.css$ tracker.php?id=$1&page=csstest [L,QSA]

SetOutputFilter DEFLATE 

# Some browsers have problems with other types of compression
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
# MSIE defines itself as Mozilla/4 but can handle compression so undo what we did above
BrowserMatch \bMSIE !no-gzip !gzip-only-text/html

# Cache all static content for a year
ExpiresActive On
<Files *.php>
  ExpiresByType text/html A0
</Files>

ExpiresDefault "access plus 1 years"
ExpiresByType image/jpg "modification plus 1 years"
ExpiresByType image/gif "modification plus 1 years"
ExpiresByType image/png "modification plus 1 years"

# Force no caching for dynamic files
# <FilesMatch "\.(php|cgi|pl)$">
#ExpiresActive Off
#Header set Cache-Control "private, no-cache, no-store, proxy-revalidate, no-transform"
#Header set Pragma "no-cache"
#</FilesMatch>
