/* Swam Style Sheet */

body {
  background: url(/images/blue_paper.gif); 
/*  background: url(/images/bksnoscene.jpg); */  
/*  background: url(/images/happy6.gif); */
/*  background: url(/images/background5.jpg); */ 
// font-size: 2ex;
  font-size: 1em;
}

body, p, h1, h2, h3, font, table, form, td, th, tr, li, ul {
  font-family: serif;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.2em;
}

.header {
  color:"#0000ff";
}

.guest {
 color:white; 
 font-size:2em;
}

.red {
  color:red;
}

.white {
  color:white;
}

.yellow {
  color:yellow;
}

.liteyellow {
  background-color: #FEFFCB;
}
.red {
  color:red;
}

.center {
  text-align:center;
}

.blink {
  text-decoration:blink;
}

.yellowButton {
  background-color: yellow;
   color: black;
}

.pinkButton {
  background-color: #FF21F2;
   color: white;
}

.blueButton {
  background-color: #2c6daf;
   color: white;
}

.redButton {
  background-color: red;
   color: white;
}

.greenButton {
  background-color: green;
   color: white;
}

.buttonMarg {
   margin-top: 10px;
   margin-bottom: 10px;
}

.buttons2-5em {
   font-size: 2.5em;
   line-height: 170%;
   text-decoration: none;
   border-bottom: 3px solid black;
   border-right: 3px solid black;
   border-top: 1px solid white;
   padding: 4px 8px 4px 8px;
 }

.buttons1-5em {
   font-size: 1.5em;
   line-height: 170%;
   text-decoration: none;
   border-bottom: 2px solid black;
   border-right: 2px solid black;
   border-top: 1px solid white;
   padding: 4px 6px 4px 6px;
 }

.buttons1-5em a {
   line-height: 100%;
   text-decoration: none;
   color: black;
 }
